In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv(r"C:\Users\kumar\Downloads\UniversalBank.csv")
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [3]:
df=df.drop(['ID','ZIP Code'],axis=1)

In [4]:
df

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

In [5]:
x=df.iloc[:, -1].values.reshape(-1,1)
y=df['CreditCard'].values

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
ada=AdaBoostClassifier(n_estimators=10,learning_rate=1)

In [7]:
model=ada.fit(x_train,y_train)

In [8]:
pred=ada.predict(x_test)
score=accuracy_score(y_test,pred)
print("accuracy score this classification model:",score)

accuracy score this classification model: 1.0

In [9]:
prediction=model.predict([["Age"==28]])
print(prediction)

[0]

In [10]:
from sklearn.svm import SVC
svc=SVC()
ada=AdaBoostClassifier(n_estimators=100,base_estimator=svc,learning_rate=1)
model=model.fit(x_train,y_train)
predict=model.predict(x_test)
print(accuracy_score(predict,y_test))

1.0

In [11]:
from sklearn.linear_model import LogisticRegression
ada=AdaBoostClassifier(n_estimators=100,base_estimator=LogisticRegression,learning_rate=1)
model=model.fit(x_train,y_train)
predict=model.predict(x_test)
print(accuracy_score(predict,y_test))

1.0